/* NAVBAR CSS */
.navbar, #my_navbar, .navbar-nav, .contact_icon {
	margin-bottom: 0px;
}

.navbar {
	background-color: #333;
	border: 0px;
}

.navbar-nav {
	padding-bottom: 0px;
}

.nav > li > a:not(.text_link) {
	padding: 10px;
}

.nav > li > a:not(.text_link), #email_input {
	padding-left: 15px;
	padding-right: 15px;
}

.popover {
	background-color: #E74C3C;
	color: #ECF0F1;
	width: 120px;
}

.popover.right .arrow:after {
	border-right-color: #E74C3C;
}
/* END OF NAVBAR CSS */

#page_header {
	margin-left: 15px;
}

#content_container {
	margin-top: 50px;
}

#scroll-able {
	height: 400px;
	overflow: scroll;
	border: 1px solid #CDCDCD;
	background-color: #EEEEEE;
}

.list-group li.active,
.list-group li.active:hover,
.list-group li.active:focus {
	background: #9CF;
}

.list-group li.active a,
.list-group li.active:hover,
.list-group li.focus a {
	color: #FFF;
}

.text_content {
	padding: 5px;
}